#container
{
  margin: auto;
  padding: 1px;
  width: 1000px;
  height: 800px;
}

.app
{
  margin: auto;
  padding: 0px;
}

.title
{
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: white;
  background-color: rgb( 112, 128, 144 );
}

.setting
{
  margin: auto;
  padding: 0px 0px 0px 0px;
  border: 1px solid black;
  display: flex;
}

.control
{
  padding: 10px;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
}

.camera-light-position
{
  padding: 10px;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
}

.rock 
{
  margin: auto;
  background-position: right;
  background-size: contain;
  border: 1px solid black;
}

#webgl-canvas 
{
   background-image: url( "https://i.ibb.co/tmkcJMr/space.jpg" );
   background-repeat: no-repeat;
   width: 600px;
   height: 600px;
}

ul
{
    margin: 0px;
    padding: 10px 5px 0px 0px;
    list-style-type: none;
}

li
{
  padding: 5px 1px 10px 10px;
}

.red-font
{
  color: red;
}

.blue-font
{
  color: blue;
}

.green-font
{
  color: green;
}

#x_crd
{
  padding-left: 10px;
  color: red;
}

#y_crd
{
  padding-left: 10px;
  color: green;
}

#z_crd
{
  padding-left: 10px;
  color: blue;
}

#lx_crd
{
  padding-left: 10px;
  color: red;
}

#ly_crd
{
  padding-left: 10px;
  color: green;
}

#lz_crd
{
  padding-left: 10px;
  color: blue;
}

#fovy
{
  padding-left: 10px;
}

#os_crd
{
  padding-left: 10px;
}

#od_crd
{
  padding-left: 10px;
}

#oa_crd
{
  padding-left: 10px;
}

#reset_ss 
{
  width: 75px;
  height: 35px;
}

#reset_cl 
{
  width: 75px;
  height: 35px;
}


#transReset
{
  width: 75px;
  height: 35px;
}
